[Unit]
Description=VSTS Agent
After=network.target

[Service]
ExecStart={{vsts_agentfolder}}/runsvc.sh
User={{vsts_agent_user}}
WorkingDirectory={{vsts_agentfolder}}
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target

